.convention_video_showcase:not(.mdc_component--loaded), .mdc_component--loading, [data-mdc_component]:not(.mdc_component--loaded){
	max-height: 200px;
	min-height: 150px;
	background-color: #d9d9d9;
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: center;
	color: black;
}
.convention_video_showcase:not(.mdc_component--loaded) *, .mdc_component--loading *, [data-mdc_component]:not(.mdc_component--loaded) *{
	opacity: 0;
}
.convention_video_showcase:not(.mdc_component--loaded)::before, .mdc_component--loading::before, [data-mdc_component]:not(.mdc_component--loaded)::before{
    position: absolute;
    bottom: 35px;
    content: "loading...";
    left: 0;
    right: 0;
    font-size: 20px;
}
.convention_video_showcase:not(.mdc_component--loaded)::after, .mdc_component--loading::after, [data-mdc_component]:not(.mdc_component--loaded)::after{
	font-family: FontAwesome;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	content: "\f013";
	position: absolute;
	margin: auto;
	top: 0; bottom: 0; left: 0; right: 0;
	font-size: 40px;
	height: 0;
    line-height: 0;
}

.mdc_component--loading{
	max-height: 120px;
	background-color: #d9d9d9;
	position: relative;
	overflow: hidden;
}
/*
.mdc_component--loading::after{
	content: "loading...";
	color: black;
	position: absolute;
	top: 0; bottom: 0;
	text-align: center;
}
*/
